<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Better Antibodies Community</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/up-logo.ico' %}">

    
    <!-- Load CSS -->

    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body class="no-wobble">
    <!-- Header Section -->
    <header class="header">
        <div class="logo">
            <a href="{% url 'home' %}"> <!-- Link to the home page -->
                <img src="{% static 'core/logo.png' %}" alt="Logo" class="logo-img">
            </a>
        </div>  
        
          <!-- Hamburger Icon -->
    <div class="hamburger">☰</div>

    <!-- Navigation Menu -->
        <nav>
            <ul class="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}" class="active">About Us</a></li>
                <li><a href="{% url 'projects' %}">Publications</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'data' %}">Data</a></li>
                <li><a href="{% url 'partners' %}">Partners</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Banner Section for About Us Page -->
    <section class="banner about-banner">
        <div class="banner-text">
            <h2>About Us</h2>
        </div>
    </section>

<!-- Introduction Section -->
<section class="our-approach">
    <div class="content-container">
        <h2>Only Good Antibodies (OGA) Community</h2>
        <p>
            The OGA community is a diverse collaboration of basic, clinical, data, and behavioural scientists and technicians from academia, industry, and non-profit organisations, led from the University of Leicester. We are part of the wider movement to improve research integrity and reproducibility, and we are an affiliate stakeholder in the UK Reproducibility Network. We are learning from this wider community, and our work also represents an opportunity for learning in the wider context of research reproducibility and integrity.
        </p>
    </div>
</section>

<!-- Divider Section -->
<section class="section-divider">
    <div class="divider-line"></div>
</section>

<!-- Our Collaboration Section -->
<section class="our-approach">
    <div class="content-container">
        <h2>Our Collaboration with YCharOS Inc.</h2>
        <p>The Only Good Antibodies community and YCharOS Inc. work together to:</p>
        <ul>
            <li>Increase the availability and use of well-performing research antibodies</li>
            <li>Eliminate the use of inappropriate antibodies and the associated waste of animals for their production</li>
            <li>Promote education and awareness about best practices in antibody use and validation</li>
        </ul>
    </div>
</section>

<!-- Divider Section -->
<section class="section-divider">
    <div class="divider-line"></div>
</section>

<!-- Open Science Partnership Section -->
<section class="our-approach">
    <div class="content-container">
        <h2>Open Science Partnership</h2>
        <p>
            We are an open science partnership with 26 major science stakeholders in institutions, commercial manufacturing, reagent databases, research funding, and publishers. Come to us for help finding the most robust antibodies for your experimental needs.
        </p>
    </div>
</section>



    <!-- Our Team Section -->
    <section class="our-team">
        <h2>Meet the Team</h2>
        
        <div class="team-grid">
            <!-- Team Member 1 -->
            <div class="team-member">
                <img src="{% static 'core/team1.png' %}" alt="Team Member 1">
                <h3>Harvinder Virk</h3>
                <p>Co-lead (Clinical)</p>
            </div>

            <!-- Team Member 2 -->
            <div class="team-member">
                <img src="{% static 'core/team11.png' %}" alt="Team Member 2">
                <h3>Michael Biddle</h3>
                <p>Co-lead (Molecular Biology)</p>
            </div>

             <!-- Team Member 3 -->
            <div class="team-member">
                <img src="{% static 'core/team4.png' %}" alt="Team Member 4">
                <h3>Eva Krockow</h3>
                <p>Co-lead (Behaviour Science)</p>
            </div>

            <!-- Team Member 4 -->
            <div class="team-member">
                <img src="{% static 'core/team3.png' %}" alt="Team Member 3">
                <h3>Carolyn Jones</h3>
                <p>Characterisation and biomarker project support</p>
            </div>

            <!-- Team Member 5 -->
             <div class="team-member">
                <img src="{% static 'core/team5.png' %}" alt="Team Member 4">
                <h3>Bárbara Ferreira</h3>
                <p>Bioinformatics support</p>
             </div>
        </div>
    </section>

<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <!-- Quick Links Column -->
        <div class="footer-column">
            <h4>Quick Links</h4>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About Us</a>
                <a href="{% url 'projects' %}">Publications</a>
                <a href="{% url 'news' %}">News</a>
            <a href="{% url 'data' %}">Data</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>

        <!-- Contact Information Column -->
        <div class="footer-column">
            <h4>Contact Us</h4>
            <p>Email: <a href="onlygoodantibodies@gmail.com">onlygoodantibodies@gmail.com</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/company/onlygoodantibodies-community-and-forum/posts/?feedView=all" target="_blank">Follow us on LinkedIn</a></p>
            <p>X: <a href="https://x.com/OGA_Community" target="_blank">Follow us on X</a></p>
        </div>

        <!-- Social Media Column -->
        <div class="footer-column">
            <h4>Follow Us</h4>
            <a href="https://www.linkedin.com/company/onlygoodantibodies-community-and-forum/posts/?feedView=all" target="_blank">
                <img src="{% static 'core/linkedin-logo.webp' %}" alt="LinkedIn" class="social-icon">
            </a>
            <a href="https://x.com/OGA_Community" target="_blank">
                <img src="{% static 'core/x.png' %}" alt="LinkedIn" class="social-icon">
            </a>
            <!-- Add other social media icons here -->
        </div>
    </div>

    <!-- Bottom Footer with Copyright and Back to Top -->
    <div class="footer-bottom">
        <p>&copy; 2024 Better Antibodies Community. All Rights Reserved.</p>
        <button onclick="window.scrollTo({top: 0, behavior: 'smooth'});" class="back-to-top">Back to Top</button>
    </div>
</footer>

<script src="{% static 'core/script.js' %}"></script>

</body>
</html>
