{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024, initial-scale=0.4, maximum-scale=1, user-scalable=no">
    <title>{{ gene.name }} - Antibodies and Experiments</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'core/up-logo.ico' %}">
</head>

<body class="antibody-table-page">
    {% include 'core/cookie_banner.html' %}
    <script src="{% static 'core/script.js' %}"></script>
    
<!-- Header Section -->
<header class="header">
    <div class="logo">
        <a href="{% url 'home' %}"> <!-- Link to the home page -->
            <img src="{% static 'core/logo.png' %}" alt="Logo" class="logo-img">
        </a>
    </div> 

 <!-- Hamburger Icon -->
<div class="hamburger">☰</div>

<!-- Navigation Menu -->
    <nav>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'publications' %}">Publications</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'news' %}">News</a></li>
            <li><a href="{% url 'partners' %}">Partners</a></li>
            <li><a href="{% url 'contact' %}" class="active">Contact</a></li>
        </ul>
    </nav>
</header>

<section class="banner antibody-banner">
    <div class="banner-content">
      
      <div class="banner-center">
        <h2>Gene: {{ gene.name }}</h2>
        <a href="{{ gene.f1000_report_link }}" target="_blank" class="f1000-link">Full Report</a>
        {% if gene.citation %}
          <div class="copy-citation-wrapper">
            <button id="copy-btn" class="copy-btn" title="{{ gene.citation }}">Copy Citation</button>
            <span id="citation-text" style="display: none;">{{ gene.citation }}</span>
          </div>
        {% endif %}
      </div>
  
    </div>
  </section>
  

  <div class="beta-test-notice" style="padding: 10px 0; font-size: 0.9rem; margin-top: 3px; margin-bottom: 3px; line-height: 1;">
    Antibody order is random
</div>
  
  

<!-- Filters remain below as they are -->
<div class="filter-container">
    <form class="filter-form" method="get">
      <!-- Filters go here -->
  
        <!-- Host Filter -->
        <div class="filter-group">
            <label for="host">Host</label>
            <select name="host" id="host">
                <option value="">-- Select Host --</option>
                {% for host in hosts %}
                    <option value="{{ host }}" {% if request.GET.host == host %}selected{% endif %}>{{ host }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Clonality Filter -->
        <div class="filter-group">
            <label for="clonality">Clonality</label>
            <select name="clonality" id="clonality">
                <option value="">-- Select Clonality --</option>
                {% for clonality in clonality_options %}
                    <option value="{{ clonality }}" {% if request.GET.clonality == clonality %}selected{% endif %}>{{ clonality }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Recombinant Filter -->
        <div class="filter-group">
            <label for="recombinant">Recombinant</label>
            <select name="recombinant" id="recombinant">
                <option value="">-- Select Recombinant --</option>
                {% for recombinant in recombinant_options %}
                    <option value="{{ recombinant }}" {% if request.GET.recombinant == recombinant %}selected{% endif %}>
                        {{ recombinant }}
                    </option>
                {% endfor %}
            </select>
        </div>
<!-- Recommended Applications Filter -->
<div class="filter-group">
    <label for="recomended_applications">Vendor Recommended Applications</label>
    <select name="recomended_applications" id="recomended_applications">
        <option value="">-- Select Application --</option>
        {% for app in recomended_applications_options %}
            <option value="{{ app }}" {% if request.GET.recomended_applications == app %}selected{% endif %}>
                {{ app }}
            </option>
        {% endfor %}
    </select>
</div>


    
   <!-- Filter Button -->
   <div class="filter-group button-wrapper">
    <button type="submit" class="filter-button">Filter</button>
  </div>
</form>
</div>



            <!-- Table Container -->
            <main class="table-container">
                <!-- Ideal Antibody Row -->
                <div class="row-box ideal-antibody-row"> 
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th class="header-label">WB</th>
                                <th class="header-label">IP</th>
                                <th class="header-label">ICC-IF</th>
                                <th class="header-label">FC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="antibody-details">
                                    <h3> Example</h3>
                                    <h3>High-performing Antibody</h3>
                                    <p>An example of a high-performing antibody.</p>
                                </td>
                                <td><div class="experiment-box"><img src="{% static 'core/WB-ideal.png' %}" alt="WB Image"></div></td>
                                <td><div class="experiment-box"><img src="{% static 'core/Ideal-IP.png' %}" alt="IP Image"></div></td>
                                <td><div class="experiment-box"><img src="{% static 'core/IF-Ideal.png' %}" alt="ICC-IF Image"></div></td>
                                <td><div class="experiment-box"><img src="{% static 'core/FC-ideal.png' %}" alt="FC Image"></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                   <!-- Dynamic Antibody Rows -->
            {% for antibody in antibody_data %}
            <div class="row-box"> <!-- Big square around each antibody -->
                <table>
                    <thead>
                        <tr>
                            <th></th> <!-- Leave this square empty -->
                            <th class="header-label">WB</th>
                            <th class="header-label">IP</th>
                            <th class="header-label">ICC-IF</th>
                            <th class="header-label">FC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Antibody Details -->
                           
<td class="antibody-details">
    <h3>{{ antibody.name }}</h3>
    {% if antibody.description %}
        <p>RRID: {{ antibody.description.rrid }}</p>

        <p>
            Supplier:
            {% if antibody.description.product_link %}
                <a href="{{ antibody.description.product_link }}" target="_blank" class="product-link">
                    {{ antibody.description.supplier }}
                </a>
            {% else %}
                {{ antibody.description.supplier }}
            {% endif %}
        </p>

        <p>{{ antibody.description.host }}</p>
        <p>{{ antibody.description.clonality }}</p>

        {% if antibody.description.clone_ID %}
            <p>Clone ID: {{ antibody.description.clone_ID }}</p>
        {% endif %}

        {% if antibody.description.recomended_applications %}
            <p> Recomended Applications : {{ antibody.description.recomended_applications }}</p>
        {% endif %}    

       
    {% endif %}
</td>


                            <!-- WB Experiment -->
                            <td>
                                <div class="experiment-box">
                                    {% if antibody.experiments.WB %}
                                        <img src="{{ antibody.experiments.WB }}" alt="WB Image">
                                    {% else %}
                                        <img src="{% static 'core/Not_Available.png' %}" alt="No Data Available">
                                    {% endif %}
                                </div>
                            </td>

                            <!-- IP Experiment -->
                            <td>
                                <div class="experiment-box">
                                    {% if antibody.experiments.IP %}
                                        <img src="{{ antibody.experiments.IP }}" alt="IP Image">
                                    {% else %}
                                        <img src="{% static 'core/Not_Available.png' %}" alt="No Data Available">
                                    {% endif %}
                                </div>
                            </td>

                            <!-- ICC-IF Experiment -->
                            <td>
                                <div class="experiment-box">
                                    {% if antibody.experiments.ICC_IF %}
                                        <img src="{{ antibody.experiments.ICC_IF }}" alt="ICC-IF Image">
                                    {% else %}
                                        <img src="{% static 'core/Not_Available.png' %}" alt="No Data Available">
                                    {% endif %}
                                </div>
                            </td>

                            <!-- FC Experiment -->
                            <td>
                                <div class="experiment-box">
                                    {% if antibody.experiments.FC %}
                                        <img src="{{ antibody.experiments.FC }}" alt="FC Image">
                                    {% else %}
                                        <img src="{% static '/core/Not_Available.png' %}" alt="No Data Available">
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </main>
    </div>

    <!-- Footer -->
<footer class="antibody-footer">
    <div class="footer-container">
        <!-- Quick Links Column -->
        <div class="footer-column">
            <h4>Quick Links</h4>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About Us</a>
            <a href="{% url 'publications' %}">Publications</a>
            <a href="{% url 'projects' %}">Projects</a>
            <a href="{% url 'news' %}">News</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>

        <!-- Contact Information Column -->
    <div class="footer-column">
        <h4>Contact Us</h4>
        <p style="color: white;">Email: <a href="mailto:onlygoodantibodies@gmail.com" style="color: white; text-decoration: none;">onlygoodantibodies@gmail.com</a></p>
        <p style="color: white;">LinkedIn: <a href="https://www.linkedin.com/company/onlygoodantibodies-community-and-forum/posts/?feedView=all" target="_blank" style="color: white; text-decoration: none;">Follow us on LinkedIn</a></p>
        <p style="color: white;">BlueSky: <a href="https://bsky.app/profile/oga-community.bsky.social" target="_blank" style="color: white; text-decoration: none;">Follow us on BlueSky</a></p>
    </div>


        <!-- Social Media Column -->
        <div class="footer-column">
            <h4>Follow Us</h4>
            <a href="https://www.linkedin.com/company/onlygoodantibodies-community-and-forum/posts/?feedView=all" target="_blank">
                <img src="{% static 'core/linkedin-logo.webp' %}" alt="LinkedIn" class="social-icon">
            </a>
            <a href="https://bsky.app/profile/oga-community.bsky.social" target="_blank">
                <img src="{% static 'core/bluesky.png' %}" alt="LinkedIn" class="social-icon">
            </a>
            <!-- Add other social media icons here -->
        </div>
    </div>

    <!-- Bottom Footer with Copyright and Back to Top -->
    <div class="footer-bottom">
        <p>&copy; 2024 Only Good Antibodies Community. All Rights Reserved.</p>
        <button onclick="window.scrollTo({top: 0, behavior: 'smooth'});" class="back-to-top">Back to Top</button>
    </div>
</footer>
<script src="{% static 'core/script.js' %}"></script>
</body>
</html>
