<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load Static Files -->
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
    <title>Partners - Better Antibodies Community</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/up-logo.png' %}">

</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="logo">
            <a href="{% url 'home' %}"> <!-- Link to the home page -->
                <img src="{% static 'core/logo.png' %}" alt="Logo" class="logo-img">
            </a>
        </div>
       
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'projects' %}">Publications</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'data' %}">Data</a></li>
                <li><a href="{% url 'partners' %}" class="active">Partners</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Banner Section for Partners Page -->
    <section class="banner about-banner">
        <div class="banner-text">
            <h2 style="color: white;">Partners</h2>
        </div>
    </section>

<!-- Partners Section -->
<section class="partners">
    <!-- Research Institutions and End Users Section -->
    <div class="partner-wrapper">
        <h2 class="partner-section-title">Research Institutions and End Users</h2>
        <div class="partner-grid three-column">
            <!-- Partner 1 -->
            <div class="partner-card">
                <img src="{% static 'core/design1.png' %}" alt="Partner 1 Logo" class="partner-logo">
                <a href="https://www.ukrn.org" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <!-- Partner 2 -->
            <div class="partner-card">
                <img src="{% static 'core/design22.png' %}" alt="Partner 2 Logo" class="partner-logo">
                <a href="https://le.ac.uk/research/institutes/precision-health" target="_blank" class="learn-more-button">Learn More</a>
            </div>
        </div>
    </div>


    
    <!-- Reagents Database Providers Section -->
    <div class="partner-wrapper">
        <h2 class="partner-section-title">Reagents Database Providers</h2>
        <div class="partner-grid three-column">
            <!-- Partner 3 -->
            <div class="partner-card">
                <img src="{% static 'core/design3.png' %}" alt="Partner 3 Logo" class="partner-logo">
                <a href="https://www.rrids.org" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <!-- Partner 4 -->
            <div class="partner-card">
                <img src="{% static 'core/design4.png' %}" alt="Partner 4 Logo" class="partner-logo">
                <a href="https://www.chemicalprobes.org" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <!-- Partner 5 -->
            <div class="partner-card">
                <img src="{% static 'core/design5.png' %}" alt="Partner 5 Logo" class="partner-logo">
                <a href="https://www.biocompare.com/?utm_source=google&utm_medium=ppc&utm_campaign=Branding&utm_content=166470024367&utm_term=biocompare&gad_source=1&gclid=Cj0KCQjwsoe5BhDiARIsAOXVoUvDhZVzYhfygCBfdqpeQ4QY0XtqTiRmiaZPe2Txdlmwh1fFnzk-yskaApCAEALw_wcB" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <!-- Partner 6 -->
            <div class="partner-card">
                <img src="{% static 'core/design6.png' %}" alt="Partner 6 Logo" class="partner-logo">
                <a href="https://www.citeab.com" target="_blank" class="learn-more-button">Learn More</a>
            </div>
        </div>
    </div>



    <!-- Experts in Antibody Production and Validation Section -->
    <div class="partner-wrapper">
        <h2 class="partner-section-title">Experts in Antibody Production and Validation</h2>
        <div class="partner-grid three-column">
            <div class="partner-card">
                <img src="{% static 'core/design7.png' %}" alt="Partner 7 Logo" class="partner-logo">
                <a href="https://ycharos.com" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/design8.png' %}" alt="Partner 8 Logo" class="partner-logo">
                <a href="https://www.astrazeneca.com" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/design9.png' %}" alt="Partner 9 Logo" class="partner-logo">
                <a href="https://www.genetex.com/?srsltid=AfmBOop19a6vm7KQNMG5swLHTRPaFC8qYb9HRM1OBqrtB97CbPI8mokx" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/design10.png' %}" alt="Partner 10 Logo" class="partner-logo">
                <a href="https://www.abcam.com/en-us?utm_source=google&utm_medium=cpc&gad_source=1&gclid=Cj0KCQjwsoe5BhDiARIsAOXVoUvI3mJz8mbSrjni2ZOcvFbWMhE1Hv4QQP_7u6SnBHRH2GN_qb2Hh-gaAtCJEALw_wcB&gclsrc=aw.ds" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/design11.png' %}" alt="Partner 11 Logo" class="partner-logo">
                <a href="https://proteininnovation.org" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/design12.png' %}" alt="Partner 12 Logo" class="partner-logo">
                <a href="https://dshb.biology.uiowa.edu" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/design13.png' %}" alt="Partner 13 Logo" class="partner-logo">
                <a href="https://www.cellsignal.com/?srsltid=AfmBOor-H6hY9t5nQdQGXW1tpw6TnWb0hsIXNC8nFKregrcjvLyIRLu6" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/design144.png' %}" alt="Partner 14 Logo" class="partner-logo">
                <a href="https://www.addgene.org" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/design15.png' %}" alt="Partner 15 Logo" class="partner-logo">
                <a href="https://www.antibodysociety.org" target="_blank" class="learn-more-button">Learn More</a>
            </div>
        </div>
    </div>



    <!-- Research Funding Agencies -->
    <div class="partner-wrapper">
        <h2 class="partner-section-title">Research Funding Agencies</h2>
        <div class="partner-grid three-column">
            <!-- Partner 16 -->
            <div class="partner-card">
                <img src="{% static 'core/design16.png' %}" alt="Partner 16 Logo" class="partner-logo">
                <a href="https://nc3rs.org.uk" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <!-- Partner 17-->
            <div class="partner-card">
                <img src="{% static 'core/design17.png' %}" alt="Partner 17 Logo" class="partner-logo">
                <a href="https://www.michaeljfox.org" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <!-- Partner 18-->
            <div class="partner-card">
                <img src="{% static 'core/design18.png' %}" alt="Partner 18 Logo" class="partner-logo">
                <a href="https://www.eu-pff.org" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <!-- Partner 19-->
            <div class="partner-card">
                <img src="{% static 'core/design19.png' %}" alt="Partner 19 Logo" class="partner-logo">
                <a href="https://www.mndassociation.org/get-involved/fundraising/tribute-funds?gad_source=1&gclid=Cj0KCQjwsoe5BhDiARIsAOXVoUsnWM8DSe9aSSueE6w5V--KbgY7Wmrjbzj7BK47hCCC8Xftp4CYCOMaAuojEALw_wcB" target="_blank" class="learn-more-button">Learn More</a>
            </div>
        </div>
    </div>


    <!-- Publishers and Journals -->
    <div class="partner-wrapper">
        <h2 class="partner-section-title">Publishers and Journals</h2>
        <div class="partner-grid three-column">
            <div class="partner-card">
                <img src="{% static 'core/design20.png' %}" alt="Partner 20 Logo" class="partner-logo">
                <a href="https://f1000research.com" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/logo22.png' %}" alt="Partner 21 Logo" class="partner-logo">
                <a href="https://elifesciences.org" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/design222.png' %}" alt="Partner 22 Logo" class="partner-logo">
                <a href="https://www.nature.com/nprot" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/design23.png' %}" alt="Partner 23 Logo" class="partner-logo">
                <a href="https://www.biologists.com" target="_blank" class="learn-more-button">Learn More</a>
            </div>
            <div class="partner-card">
                <img src="{% static 'core/design24.png' %}" alt="Partner 24 Logo" class="partner-logo">
                <a href="https://www.wiley.com/en-gb" target="_blank" class="learn-more-button">Learn More</a>
            </div>
        </div>
    </div>
</section>




<!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <!-- Quick Links Column -->
        <div class="footer-column">
            <h4>Quick Links</h4>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About Us</a>
            <a href="{% url 'projects' %}">Publications</a>
            <a href="{% url 'news' %}">News</a>
            <a href="{% url 'data' %}">Data</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>

        <!-- Contact Information Column -->
        <div class="footer-column">
            <h4>Contact Us</h4>
            <p>Email: <a href="onlygoodantibodies@gmail.com">onlygoodantibodies@gmail.com</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/company/onlygoodantibodies-community-and-forum/posts/?feedView=all" target="_blank">Follow us on LinkedIn</a></p>
            <p>X: <a href="https://x.com/OGA_Community" target="_blank">Follow us on X</a></p>
        </div>

        <!-- Social Media Column -->
        <div class="footer-column">
            <h4>Follow Us</h4>
            <a href="https://www.linkedin.com/company/onlygoodantibodies-community-and-forum/posts/?feedView=all" target="_blank">
                <img src="{% static 'core/linkedin-logo.webp' %}" alt="LinkedIn" class="social-icon">
            </a>
            <a href="https://x.com/OGA_Community" target="_blank">
                <img src="{% static 'core/x.png' %}" alt="LinkedIn" class="social-icon">
            </a>
            <!-- Add other social media icons here-->
        </div>
    </div>

    <!-- Bottom Footer with Copyright and Back to Top -->
    <div class="footer-bottom">
        <p>&copy; 2024 Better Antibodies Community. All Rights Reserved.</p>
        <button onclick="window.scrollTo({top: 0, behavior: 'smooth'});" class="back-to-top">Back to Top</button>
    </div>
</footer>

</body>
</html>
